:root{
    --font-title: 2rem;
    --font-title-small: 1rem;  
    --font-text: 1.2rem;
}

.fts-title {
    font-size: var(--font-title) !important
}

.fts-s {
    font-size: var(--font-title-small) !important
}

.fts-text {
    font-size: var(--font-text) !important
}