body {
    font-family: 'Heebo', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
}

nav img {
    width: 68px;
}

.hover-link {
    color: #ECE1C3;
    text-decoration: none;
    font-size: var(--font-text);
    position: relative;
}

.hover-link::before {
    content: "";
    width: 0;
    height: 2px;
    background-color: #ECE1C3;
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: width .5s;
}

.hover-link:hover::before {
    width: 100%;
}

.responsive-img img {
    height: 600px;
}

.about {
    height: 80vh;
}


.cloud {
    background-image: url(../images/bg-images/cloud-about.png);
    background-size: 100% 100%;
    height: 100vh;
}

.hand-up img {
    height: 35vh;
}

.problem {
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .8)), url(../images/bg-images/problema-img.png);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.img-impacts img {
    height: 40%;
    width: 40%;
}

.img-solution img {
    height: 30%;
    width: 30%;
}

.arrow {
    width: 100%;
    height: 3px;
    background-color: var(--color-negative);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pointer {
    border: solid;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
}

.arrow-right {
    transform: rotate(-45deg);
}

.double-arrow {
    justify-content: space-between;
}

.arrow-left {
    transform: rotate(135deg);
}

.img-arduino img {
    width: 40%;
}

.img-mobile img {
    width: 80%;
    height: 100%;
}

@media (max-width: 1000px) {
    .arrow {
        display: none;
    }

    .pointer {
        display: none;
    }
}

